html {
  overflow: overlay;
}

html, body {
  height: 100%;
}

:root {
  --vh: 1vh;
}

@supports (--css: variables) {
  :root {
    --vh: calc(1vh - env(safe-area-inset-bottom));
  }
}

nav {
  height: 60px;
}

body {
  overflow: auto;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: #4B5320; /* Verde militar */
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-arrow:hover {
  opacity: 1; /* Flechas completamente visibles al pasar el mouse */
}

/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px; /* Para pantallas grandes */
  margin: 0 auto;
  padding: 16px; /* Espaciado interno */
}

@media (max-width: 768px) {
  .container {
    padding: 8px; /* Reducir padding en móviles */
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
